@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&family=Montserrat+Alternates:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,600&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

.otziv {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 90%;
  margin: 0 auto;
}
.bgbgbg {
  background: rgba(44, 81, 70, 0.48);
}
.active {
  background-color: blue;
  color: white;
}
.otziv .title {
  margin-top: 50px;
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}
.carousel {
  margin: 30px 0;
}
.svg2 {
  width: 520px;
}
.otz-button {
  width: 270px;
  height: 63.97px;
  border-radius: 20px;
  background-color: #443926;
  color: #fff;
  border: none;
  outline: none;
  margin-bottom: 50px;
  
}

.action {
  object-fit: cover;
  padding-top: 40px;
  width: 100%;
  height: 441px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  object-fit: cover;
  /* background-position: center center; */
  border-radius: 20px;
  border-bottom: 20px;
}
/* 
.SwiperSlide2 {
  display: flex;
  width: 100%;
} */
/* .swiper-button-prev {
    background-color: red;
  
} */
.swiper-rtl {
  position: absolute;
  left: -30px;
}

.SwiperSlide1 {
  background: green;
}


.blur-load::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: pulse 2.5s  infinite;
  background-color: rgba(255, 255, 255, .1);

}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }

  50% {
    background-color: rgba(255, 255, 255, .1);
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.loaded1 {
  filter: blur(20px);
}

.blur-load {
  background-image: url("../../public/images/img4.gif");
  background-position: center;
  border-top-left-radius: 8px;
  /* filter: blur(20px); */
  border-top-right-radius: 8px;
  background-size: cover;
  object-fit: cover;
  position: relative;
}

.blur-load.loaded::before {
  content: none;
}

/* .blurimage {
  filter: blur(20px);
} */

.blur-load.loaded > img {
  opacity: 1;
}

.blur-load > img {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.card-shadow {
  box-shadow: 2px 4px 7px rgba(0,0,0, .5);
}